html {
        background-color: gray;
}
body {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
}
#content {
        margin: 50px;
        background-color: white;
        width: 45%;
        border-radius: 10px;
}

h1 {
        text-align: center;
}

hr {
        width: 60%;
}

a {
        color: blue;
        text-decoration: none;
}

#listOfPolicys {
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
}

#listOfPolicys ul {
        list-style: none;
}

#listOfPolicys ul li {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
}

#listOfPolicys ul li:hover {
        background-color: #ccc;
}

footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60px;
        background-color: darkgray;
        z-index: 999999;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
}
footer p, h3{
        margin: 0px;
}
